@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
  }

  #root {
    height: 100vh;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .content {
    height: 65vh;
  }

  .input-box {
    height: 2rem;
    width: 80%;
  }

  .main-input {
    font-size: 1.2rem;
  }
}
